 /* 参考 */
/* body{
    background: url(./img/熊管家-M-关于我们.jpg) no-repeat;
}
.wrap{opacity: .6;} */
 /* 公司简介 */
 .modelContainertitle p{
    padding-left: 17.066rem;
    padding-right: 17.066rem;
    margin-bottom: 4.4rem;
}
.aboutusIntro{
    padding-top:6.666rem;
}
.aboutusIntro .aboutustrotopimg{
    width: 100%;
}
.aboutusIntro section{
    padding:4.266rem 3.2rem 13.333rem 2.8rem;
    background-color: #F6F6F6;
    position: relative;
}
.aboutusIntro section p{
    font-size: 3.2rem;
    line-height: 1.5em;
    color: #000000;
    margin-bottom: 5.333rem;
}
.aboutusIntro section .aboutustrolastp{
    margin-bottom: 0px;
}
.aboutusIntro .aboutustrocontent{
    margin-bottom: -2.4rem;
    /* 溢出省略 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.aboutusIntro section button{
    margin:4.8rem 0 2.533rem 0;
    position: absolute;
    bottom: 0px;
    right: 2.666rem;
}
/* 公司简介中，点击展开全部取消溢出隐藏效果 */
.aboutusIntro section button:hover+div{
    display: block;
}
.aboutusIntro section button:hover{
    bottom:0px;
}


/* 团队展示 */
.aboutusTeamshow{
    padding-top:6.133rem;
}
.aboutusTeamshow .aboutusTeamshowimgcontainer{
    position: relative;
}
.aboutusTeamshow .aboutusTeamshowimg{
    width: 100%;
}
.aboutusTeamshow .aboutusTeamshowlefticon{
    width: 5.6rem;
    position: absolute;
    top:41.5%;
    left: 2.666rem;
    opacity: .7;
}
.aboutusTeamshow .aboutusTeamshowlefticon:active{
    opacity: 1;
    transform: scale(1.2);
    transition: .1s;
}
.aboutusTeamshow .aboutusTeamshowrighticon{
    width: 5.6rem;
    position: absolute;
    top:41.5%;
    right: 2.666rem;
    opacity: .7;
}
.aboutusTeamshow .aboutusTeamshowrighticon:active{
    opacity: 1;
    transform: scale(1.2);
    transition: .1s;
}
.aboutusTeamshow section{
    /* 金牌设计团队 */
    padding:2rem 0 6.533rem;
    width: 100%;
}
.aboutusTeamshow section h3{
    width: 50%;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 3.733rem;
    line-height: 1.5em;
    color: #000000;
    padding: 0 2.933rem;
    float: left;
    /* 溢出省略 */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.aboutusTeamshow section p{
    width: 50%;
    box-sizing: border-box;
    font-size: 2.666rem;
    line-height: 1.5em;
    color: #666666;
    padding: 0 2.666rem;
    text-align: right;
    float:right;
    margin-right: -2.666rem;
    /* 溢出省略 */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* 缩放为10px */
    transform: scale(0.833333);
}
