 /* 参考 */
/* body{
    background: url(./img/熊管家-M-新闻详细.jpg) no-repeat;
}
.wrap{opacity: .6;} */
 /* 新闻详情 */
 .newsdetailsContainer{
    padding-top:6rem;
}
.modelContainertitle p{
    /* 英文标题内边距 */
   padding-left: 14.4rem;
   padding-right: 14.4rem;
}
.newsdetailsTitle{ 
    /* 文章标题 */
    margin: 4.8rem 0 3.2rem;
    padding:3.2rem 2.8rem 2.933rem;
    background-color: #FAFAFA;
    border: .266rem solid #F3F3F3;
}
.newsdetailsTitle h2{
    font-size: 4.8rem;
    line-height: 1.5em;
    color: #333333;
    margin-bottom: 2.4rem;
}
.newsdetailsTitle p{
    /* 发布/浏览数 */
    font-size: 2.666rem; 
    line-height: 1.5em;
    color: #14916a;
    /* 缩放10px */
    transform: scale(.9);
    transform-origin:left center;
}
.newsdetailsTitle span{
    color: #333333;
}
.newsdetailsDegist{
    /* 摘要 */
    font-size: 3.2rem;
    line-height: 1.5em;
    color: #999999;
    padding: 0 10.533rem 0 3.066rem;
}
.newsdetailsContent{
    /* 正文 */
    padding:0 2.8rem 0 2.933rem;
    margin-top:-1.066rem;
}
.newsdetailsContent p{
    font-size: 3.2rem;
    line-height: 1.5em;
    color: #333333;
    margin-top: 4.8rem;
}
.newsdetailsContent img{
    width: 100%;
    margin-top: 4rem;
    margin-bottom: -0.8rem;
}
.newsdetailsbutton{
    padding: 4.933rem 2.8rem 5.466rem;

}
.newsdetailsbutton button{
    width: 100%;
    font-size: 3.733rem;
    line-height: 7.466rem;
    /* 溢出省略 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:4rem 0;
    padding-top:0;
    padding-bottom: 0;
}
.newsdetailsbutton button span{
    display: inline-block;
    height: 100%;
    border-right: .266rem solid #3DAA8F;
    padding-right: 2.133rem;
    margin-right: 2.133rem;
}