        /* 参考 */
        /* body{
            background: url(./img/熊管家-M-新闻列表.jpg) no-repeat;
        }
        .wrap{opacity: .6;} */
        /* 通栏 */
        .wrap{
            min-width: 304px;
        }
        /* 新闻动态 */
        .modelContainertitle p{
            /* 英文标题内边距 */
           padding-left: 14.4rem;
           padding-right: 14.4rem;
        }
        .newsContainer{
            padding-top:6.133rem;
        }
        .newsContainer ul{
            padding:1.866rem 0 0;
        }
        .newsContainer ul li{
            border-bottom: .266rem solid #EDEDED;
            padding:2.4rem 2.666rem;
            display: flex;
        }
        .newsContainer ul li:active{
            /* animation: headShake .3s; */
            /* position: relative;
            top:2px;
            left:8px; */
            background-color: #14916a;
            border-radius: 5%;
            transition: .1s;
        }
        .newsContainer ul li:active h3{
            color: #ffffff;
        }
        .newsContainer ul li:active p{
            color:#ffffff;
        }
        /* @keyframes headShake {
            0% {
                -webkit-transform:translateX(0);
                transform:translateX(0)
            }
            6.5% {
                -webkit-transform:translateX(-6px) rotateY(-9deg);
                transform:translateX(-6px) rotateY(-9deg)
            }
            18.5% {
                -webkit-transform:translateX(5px) rotateY(7deg);
                transform:translateX(5px) rotateY(7deg)
            }
            31.5% {
                -webkit-transform:translateX(-3px) rotateY(-5deg);
                transform:translateX(-3px) rotateY(-5deg)
            }
            43.5% {
                -webkit-transform:translateX(2px) rotateY(3deg);
                transform:translateX(2px) rotateY(3deg)
            }
            50% {
                -webkit-transform:translateX(0);
                transform:translateX(0)
            }
        } */
        .newsContainer li img{
            width: 26.1333rem;
            height: 16.8rem;
            object-fit: cover;
        }
        .newsContainer li .newsContainercontent{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 0px 3.733rem 0px 3.466rem;
            flex-grow: 1;
        }
        .newsContainer .newsContainercontent h3{
            font-weight: normal;
            font-size: 3.733rem;
            line-height: 1.5em;
            color:#333333;
            margin-bottom: 1.333rem;
            /* 溢出隐藏 */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .newsContainer .newsContainercontent p{
            max-width: 74.666rem;
            font-size: 3.2rem;
            line-height: 1.5em;
            color: #999999;
            /* margin-left: -13px; */
            text-align: left;
            /* 溢出隐藏 */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            /* 缩小为10px */
            transform: scale(0.9);
            transform-origin: left center;
        }
        /* 按钮 */
        .newsContainer .newsContainerbutton{
            padding:4.5333rem 2.933rem 3.733rem 2.8rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
        }
        .newsContainer .newsContainerbutton button{
            padding: 1.333rem 5.866rem 1.066rem;
        }